* text=auto eol=lf
*.md text eol=lf whitespace=-blank-at-eol
LICENSE text eol=lf whitespace=-blank-at-eol
*.json text eol=lf
*.jsx text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.ts text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.py text eol=lf
